<h1 align="center"><font size="5">COLLABORATIVE FILTERING</font></h1>

Recommendation systems are a collection of algorithms used to recommend items to users based on information taken from the user. These systems have become ubiquitous can be commonly seen in online stores, movies databases and job finders. In this notebook, we will explore recommendation systems based on Collaborative Filtering and implement simple version of one using Python and the Pandas library.

<h1>Table of contents</h1>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href="#ref1">Acquiring the Data</a></li>
        <li><a href="#ref2">Preprocessing</a></li>
        <li><a href="#ref3">Collaborative Filtering</a></li>
    </ol>
</div>
<br>
<hr>



<a id="ref1"></a>
# Acquiring the Data

To acquire and extract the data, simply run the following Bash scripts:  
Dataset acquired from [GroupLens](http://grouplens.org/datasets/movielens/). Lets download the dataset.

In [1]:
import wget
import csv
import pandas as pd
import numpy as np
from zipfile import ZipFile
url = 'http://files.grouplens.org/datasets/movielens/ml-latest.zip'
filename = wget.download(url)
with ZipFile(filename, 'r') as zipObj:
    zipObj.extractall()

Now you're ready to start working with the data!

<hr>

<a id="ref2"></a>
# Preprocessing

First, let's get all of the imports out of the way:

In [2]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Now let's read each file into their Dataframes:

In [3]:
#Storing the movie information into a pandas dataframe
movies_df = pd.read_csv(r'C:\\Users\\cskar\\Downloads\\ml-latest\\movies.csv')
#Storing the user information into a pandas dataframe
ratings_df = pd.read_csv(r'C:\\Users\\cskar\\Downloads\\ml-latest\\ratings.csv')
print ("successful")

successful

Let's also take a peek at how each of them are organized:

In [4]:
#Head is a function that gets the first N rows of a dataframe. N's default is 5.
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

So each movie has a unique ID, a title with its release year along with it (Which may contain unicode characters) and several different genres in the same field. Let's remove the year from the title column and place it into its own one by using the handy [extract](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.extract.html#pandas.Series.str.extract) function that Pandas has.

Let's remove the year from the __title__ column by using pandas' replace function and store in a new __year__ column.

In [5]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

Let's look at the result!

In [6]:
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

With that, let's also drop the genres column since we won't need it for this particular recommendation system.

In [7]:
#Dropping the genres column
movies_df = movies_df.drop('genres', 1)

Here's the final movies dataframe:

In [8]:
movies_df.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

<br>

Next, let's look at the ratings dataframe.

In [9]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

Every row in the ratings dataframe has a user id associated with at least one movie, a rating and a timestamp showing when they reviewed it. We won't be needing the timestamp column, so let's drop it to save on memory.

In [10]:
#Drop removes a specified row or column from a dataframe
ratings_df = ratings_df.drop('timestamp', 1)

Here's how the final ratings Dataframe looks like:

In [11]:
ratings_df.head()

   userId  movieId  rating
0       1      307     3.5
1       1      481     3.5
2       1     1091     1.5
3       1     1257     4.5
4       1     1449     4.5

<hr>

<a id="ref3"></a>
# Collaborative Filtering

Now, time to start our work on recommendation systems. 

The first technique we're going to take a look at is called __Collaborative Filtering__, which is also known as __User-User Filtering__. As hinted by its alternate name, this technique uses other users to recommend items to the input user. It attempts to find users that have similar preferences and opinions as the input and then recommends items that they have liked to the input. There are several methods of finding similar users (Even some making use of Machine Learning), and the one we will be using here is going to be based on the __Pearson Correlation Function__.

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/bd1ccc2979b0fd1c1aec96e386f686ae874f9ec0 "Pearson Correlation")


The process for creating a User Based recommendation system is as follows:
- Select a user with the movies the user has watched
- Based on his rating to movies, find the top X neighbours 
- Get the watched movie record of the user for each neighbour.
- Calculate a similarity score using some formula
- Recommend the items with the highest score


Let's begin by creating an input user to recommend movies to:

Notice: To add more movies, simply increase the amount of elements in the userInput. Feel free to add more in! Just be sure to write it in with capital letters and if a movie starts with a "The", like "The Matrix" then write it in like this: 'Matrix, The' .

In [12]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

#### Add movieId to input user
With the input complete, let's extract the input movies's ID's from the movies dataframe and add them into it.

We can achieve this by first filtering out the rows that contain the input movies' title and then merging this subset with the input dataframe. We also drop unnecessary columns for the input to save memory space.

In [13]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4   164600                Akira     4.5
5     1968  Breakfast Club, The     5.0

#### The users who has seen the same movies
Now with the movie ID's in our input, we can now get the subset of users that have watched and reviewed the movies in our input.

In [14]:
#Filtering out users that have watched movies that the input has watched and storing it
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
42        4        1     4.0
43        4        2     4.0
107       4      296     5.0
234       4     1274     2.5
315       4     1968     0.5

We now group up the rows by user ID.

In [15]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['userId'])

lets look at one of the users, e.g. the one with userID=1130

In [20]:
userSubsetGroup.get_group(1130)

AttributeError: 'list' object has no attribute 'get_group'

Let's also sort these groups so the users that share the most movies in common with the input have higher priority. This provides a richer recommendation since we won't go through every single user.

In [17]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

Now lets look at the first user

In [18]:
userSubsetGroup[0:3]

[(4,
       userId  movieId  rating
  42        4        1     4.0
  43        4        2     4.0
  107       4      296     5.0
  234       4     1274     2.5
  315       4     1968     0.5),
 (56,
        userId  movieId  rating
  4742      56        1     2.5
  4743      56        2     3.5
  4786      56      296     2.5
  4912      56     1274     4.5
  4989      56     1968     2.0),
 (134,
         userId  movieId  rating
  12112     134        1     5.0
  12113     134        2     4.0
  12153     134      296     4.5
  12272     134     1274     4.5
  12362     134     1968     4.0)]

#### Similarity of users to input user
Next, we are going to compare all users (not really all !!!) to our specified user and find the one that is most similar.  
we're going to find out how similar each user is to the input through the __Pearson Correlation Coefficient__. It is used to measure the strength of a linear association between two variables. The formula for finding this coefficient between sets X and Y with N values can be seen in the image below. 

Why Pearson Correlation?

Pearson correlation is invariant to scaling, i.e. multiplying all elements by a nonzero constant or adding any constant to all elements. For example, if you have two vectors X and Y,then, pearson(X, Y) == pearson(X, 2 * Y + 3). This is a pretty important property in recommendation systems because for example two users might rate two series of items totally different in terms of absolute rates, but they would be similar users (i.e. with similar ideas) with similar rates in various scales .

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/bd1ccc2979b0fd1c1aec96e386f686ae874f9ec0 "Pearson Correlation")

The values given by the formula vary from r = -1 to r = 1, where 1 forms a direct correlation between the two entities (it means a perfect positive correlation) and -1 forms a perfect negative correlation. 

In our case, a 1 means that the two users have similar tastes while a -1 means the opposite.

We will select a subset of users to iterate through. This limit is imposed because we don't want to waste too much time going through every single user.

In [21]:
userSubsetGroup = userSubsetGroup[0:100]

Now, we calculate the Pearson Correlation between input user and subset group, and store it in a dictionary, where the key is the user Id and the value is the coefficient

In [22]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [23]:
pearsonCorrelationDict.items()

dict_items([(4, -0.36347464992515144), (56, -0.29417420270727607), (134, 0.11720180773462363), (239, 0.358057437019716), (549, 0.5547001962252291), (605, -0.10601302391103291), (867, 0.30181636371957526), (953, 0.8204126541423674), (1068, 0.8156473902861853), (1185, 0.6768639422957096), (1191, 0.0), (1212, 0.5370861555295773), (1471, 0.6768639422957096), (1695, 0.8204126541423654), (1991, 0.8770580193070299), (2025, 0.7876213522632196), (2329, 0.5370861555295748), (2720, 0.15293388567865973), (3344, 0.806225774829855), (3665, -0.1720052290384453), (4372, 0.7844645405527362), (4377, 0.43183351708753065), (4507, 0.0), (4605, 0.6300970818105757), (5159, 0.9434563530497265), (5356, -0.1322214713369863), (5396, 0.7757911135427185), (5574, 0.6813851438692469), (5742, 0.35805743701971815), (5838, 0.11720180773462392), (5953, 0.7674257668936502), (6264, -0.15041420939904673), (6274, 0.6577935144802716), (6278, 0.9607689228305227), (6299, 0.46277514967945166), (6497, 0.6577935144802716), (6658, 0.29417420270727607), (6681, -0.716114874039432), (6691, 0.5370861555295743), (6815, 0.07308816827558574), (6920, 0.537086155529574), (7410, 0.4902903378454601), (7676, 0.7042381820123422), (7705, 0.711233325153824), (7846, 0.10963225241337861), (7891, 0.9376144618769914), (7900, 0.8272781516947562), (7902, 0.5860090386731182), (7954, 0.827278151694757), (8547, 0.8156473902861853), (8709, 0.8204126541423674), (8805, 0.36184651012596986), (8883, 0.89514359254929), (8946, 0.35805743701971654), (9168, -0.5116171779291003), (9576, 0.4772135722318333), (9701, 0.6933752452815365), (9971, 0.33101459468767136), (10057, 0.8807048459279793), (10124, 0.8600261451922278), (10126, 0.4512426281971402), (10250, 0.21926450482675766), (10355, 0.7674257668936518), (10362, 0.537086155529574), (10422, 0.4300130725961139), (10507, 0.06296909605425952), (10555, 0.24019223070763068), (10685, -0.6577935144802716), (10918, 0.5853694070049635), (11039, -0.11720180773462363), (11560, 0.32025630761017426), (11651, 0.581918175125856), (12013, 0.9866902717204075), (12096, 0.7520710469952329), (12844, 0.8498365855987974), (13213, 0.7000923793949353), (13306, -0.2586303000559358), (13384, 0.877058019307029), (13419, 0.7147654948981111), (13725, 0.827278151694757), (13883, 0.6933752452815365), (13936, 0.7674257668936502), (13984, 0.6933752452815365), (14351, 0.8362420100070908), (14691, 0.447571796274645), (14781, 0.21296851365499553), (14844, 0.9707253433941511), (14932, 0.5513349465842537), (15199, -0.3597267115094463), (15440, 0.9054490911587257), (15476, -0.19397272504195184), (15608, 0.8770580193070289), (15811, 0.526449732896663), (15945, 0.9054490911587257), (16381, -0.4385290096535153), (16505, 0.485812706723472), (16575, 0.8320502943378437), (16630, 0.8666253521790719), (16922, -0.89514359254929), (17045, -0.05967623950328604)])

In [24]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0        -0.363475       4
1        -0.294174      56
2         0.117202     134
3         0.358057     239
4         0.554700     549

#### The top x similar users to input user
Now let's get the top 50 users that are most similar to the input.

In [25]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  userId
72         0.986690   12013
86         0.970725   14844
33         0.960769    6278
24         0.943456    5159
45         0.937614    7891

Now, let's start recommending movies to the input user.

#### Rating of selected users to all movies
We're going to do this by taking the weighted average of the ratings of the movies using the Pearson Correlation as the weight. But to do this, we first need to get the movies watched by the users in our __pearsonDF__ from the ratings dataframe and then store their correlation in a new column called _similarityIndex". This is achieved below by merging of these two tables.

In [26]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0          0.98669   12013        1     4.0
1          0.98669   12013        2     3.0
2          0.98669   12013        3     4.0
3          0.98669   12013        5     4.0
4          0.98669   12013       10     3.0

Now all we need to do is simply multiply the movie rating by its weight (The similarity index), then sum up the new ratings and divide it by the sum of the weights.

We can easily do this by simply multiplying two columns, then grouping up the dataframe by movieId and then dividing two columns:

It shows the idea of all similar users to candidate movies for the input user:

In [28]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0          0.98669   12013        1     4.0        3.946761
1          0.98669   12013        2     3.0        2.960071
2          0.98669   12013        3     4.0        3.946761
3          0.98669   12013        5     4.0        3.946761
4          0.98669   12013       10     3.0        2.960071

In [29]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  39.244024          155.476742
2                  39.244024           99.526065
3                  13.192253           37.243968
4                   1.489844            3.811738
5                  11.929818           29.877029

In [30]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

   weighted average recommendation score  movieId
1                               3.961794        1
2                               2.536082        2
3                               2.823170        3
4                               2.558482        4
5                               2.504399        5

Now let's sort it and see the top 20 movies that the algorithm recommended!

In [31]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

        weighted average recommendation score  movieId
5932                                      5.0     5932
2904                                      5.0     2904
62344                                     5.0    62344
4789                                      5.0     4789
4794                                      5.0     4794
139223                                    5.0   139223
61004                                     5.0    61004
4801                                      5.0     4801
61246                                     5.0    61246
4806                                      5.0     4806

In [32]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

       movieId                                       title  year
2819      2904                                        Rain  1932
4694      4789                     Phantom of the Paradise  1974
4699      4794                                       Opera  1987
4706      4801                           Little Foxes, The  1941
4711      4806  Shop on Main Street, The (Obchod na korze)  1965
5834      5932                            Burden of Dreams  1982
12940    61004                             Year of the Gun  1991
12971    61246                                    Hamlet 2  2008
13080    62344                      Rachel Getting Married  2008
34103   139223                                     Walkout  2006

### Advantages and Disadvantages of Collaborative Filtering

##### Advantages
* Takes other user's ratings into consideration
* Doesn't need to study or extract information from the recommended item
* Adapts to the user's interests which might change over time

##### Disadvantages
* Approximation function can be slow
* There might be a low of amount of users to approximate
* Privacy issues when trying to learn the user's preferences